<div class="image" fxFlex [formGroup]="stockFC" >

  <div fxLayout="column" fxFlex="20" style="padding: 20px" fxLayoutGap="10px">
    <mat-card fxFlex class="example-card">
      <mat-card-header>
        <h5 class="black"> Stocks</h5>
      </mat-card-header>
      <mat-card-content>
        <div *ngIf="stocks$ | async as stocks">
          <ul>
            <li class="black" *ngFor="let stock of stocks">
              {{stock.stockName}}
            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div>
  <h3 style="color: white">New Stock</h3>

  <label style="color: white">
    Id:
    <input type="text" formControlName="id">
  </label>

  <label style="color: white">
    Name:
    <input type="text" formControlName="stockName" id="name">
  </label>

  <label style="color: white">
    Description:
    <input type="text" formControlName="description">
  </label>

  <label style="color: white">
    Initial Value:
    <input type="number" formControlName="initValue">
  </label>

  <label style="color: white">
    Current Value:
    <input type="number" formControlName="currentValue">
  </label>

  <button type="button" (click)="sendStock()" >Send</button>

</div>

<h4 *ngIf="error" style="color: #8b0000">{{error}}</h4>
<div *ngIf="stockCreate">
  {{stockCreate | json}}
  <button (click)="stockCreate = undefined">Yeahhhhhhh!</button>
</div>
</div>
